
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Kredi Turbo</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/courses_styles.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="shortcut icon" href="/images/online-academy2.png" type="image/x-icon">
</head>



<body>

	<div class="main-content">

            
	<header>
		<div class="header-content">
			<label for="menu-toggle">
				<span class="las la-bars"></span>
			</label>
		</div>
	</header>
	
	
	<main class="table">
		<div class="page-header">
			<h1>kayıtlı kullanıcılar: <%= user.name %></h1>

			<a href="/users/logout" class="btn btn-info btn-lg">
				<span class="glyphicon glyphicon-log-out"></span> Log out
			</a>


		</div>

	</div>

	</div>

    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <a href="/"><img id="baslik" src="/images/online-academy2.png" width="130px" height="36px"></a>
        </div>
        
        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(/images/icon1.jpg)"></div>
                <h4><%= user.name %></h4>
                <small></small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="/users/admin" class="active ">
                            <span class="las la-id-card-alt"></span>
                            <small>Ana sayfa</small>
                        </a>
                    </li>
                    <li>
                        <a href="/users/teacher-basvurulari" >
                            <span class="las la-user-alt"></span>
                            <small>Teacher Basvurulari </small>
                        </a>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-envelope"></span>
                            <small>İLETİŞİM</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-clipboard-list"></span>
                            <small></small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-tasks"></span>
                            <small></small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


	

 

					<div id="overviews" class="section wb">
						<div class="container">


							<div class="row"> 
								<div class="col-lg-12 blog-post-single">					
									<!-- <div class="blog-author">
										<div class="author-bio">
											<h3 class="author_name"><a href="#">Courses Enrolled By: <%= user.name %> </a></h3>
									
								</div> 
							</div>  -->

							<div class="row mt-5"> 
								<h1>Users</h1>
								<table class="table">
									<thead>
									  <tr>
										<th scope="col">ID#</th>
										<th scope="col">Email</th>
										<th scope="col">Role</th>
										<th scope="col">Delete</th>
									  </tr>
									</thead>
									<tbody>
								<% for (let i=0; i< users.length; i++) { %>
									  <tr>
										<th scope="row"> <%=users[i]._id%> </th>
										<td> <%=users[i].email%> </td>
										<td> <%=users[i].role%> </td>
										<td> <a href="/users/<%= users[i]._id %>?_method=DELETE"
											onclick="return confirm('ARE YOU SURE')" class="btn btn-danger rounded-0 text-white"><span>DELETE</span></a> </td>
									  </tr>
								<% } %>	  
									</tbody>
								  </table>

							</div><!-- end row -->


							<div class="row mt-5"> 
								<h1>categories</h1>
								<table class="table">
									<thead>
									  <tr>
										<th scope="col">ID#</th>
										<th scope="col">Name</th>
										<th scope="col">Add</th>
										<th scope="col">Delete</th>
									  </tr>
									</thead>
									<tbody>
								<% for (let i=0; i< categories.length; i++) { %>
									  <tr>
										<th scope="row"> <%=categories[i]._id%> </th>
										<td> <%=categories[i].name%> </td>
										<td> <button class="btn btn-lg btn-warning rounded-0 text-white" href="#"
											data-toggle="modal" data-target="#addCategory"><span>
												Add</span></button> </td>

										<td> <a href="/categories/<%= categories[i]._id %>?_method=DELETE"
											onclick="return confirm('ARE YOU SURE')" class="btn btn-danger rounded-0 text-white"><span>DELETE</span></a> </td>
									  </tr>
								<% } %>	  
									</tbody>
								  </table>

							</div><!-- end row -->
						</div><!-- end container -->
					</div><!-- end section -->

					<!-- ADD Modal -->
					<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
						<div class="modal-body customer-box">
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="Login">
									<form method="POST" action="/categories" class="form-horizontal">
										
										<div class="form-group">
											<div class="col-sm-12">
												<input type="text" name="name" class="form-control"  placeholder="Course Name">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-10">
												<button type="submit" class="btn btn-light btn-radius btn-brd grd1">
													Submit
												</button>
												<button type="submit" class="btn btn-light btn-radius btn-brd grd1"
													data-dismiss="modal" aria-hidden="true">
													Cancel
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						</div>
						</div>
						</div>

	
		<!-- ALL JS FILES -->
		<script src="/js/all.js"></script>
		<!-- ALL PLUGINS -->
		<script src="/js/custom.js"></script>